In [1]:
from random import shuffle
import pandas as pd

In [2]:
def generate_groups(leads: list, members: list):
    shuffle(leads)
    shuffle(members)
    final_teams = {lead: [] for lead in leads}
    while(len(members) > 0):
        shuffle(leads)
        for lead in leads[:len(members)]:
            final_teams[lead].append(members.pop())
    df = pd.DataFrame.from_dict({k: pd.Series(v)
                                 for k, v in final_teams.items()}, orient='index')
    df.reset_index(level=0, inplace=True)
    return df.fillna('')

In [3]:
leads = [
    "Eakta Shatma",
    "Suraj Kumar",
    "Shruti Ganeriwal",
    "Aditya Rajora",
    "Piyush Vaishya",
    "Mohit Saini",
    "Jaya Sharma",
    "Sakshi Agarwal",
    "Sudhanshu Jain",
    "Prem Singh Rathore",
    "Ayush Kumar"
]

In [4]:
members = [
    "Disti Jain",
    "Rishina Dargar",
    "Megha Gupta",
    "Jai Prakash",
    "Diksha Bothra",
    "Eshan Talwadiya",
    "Mahima Sukhlecha",
    "Sahil Chopra",
    "Shivansh Mathur",
    "Abhishek Sharma",
    "Mohit Agarwal",
    "Chahat Jain",
    "Sanjoli Jain",
    "Swapnil Singh",
    "Kuldeep Tailor",
    "Alfaiz Mansoori"
]

In [5]:
df = generate_groups(leads=leads,members=members)
df.columns = ["Group Lead","Member 1","Member 2"]
df

            Group Lead          Member 1         Member 2
0        Aditya Rajora     Swapnil Singh    Mohit Agarwal
1          Ayush Kumar       Jai Prakash
2         Eakta Shatma   Eshan Talwadiya
3          Jaya Sharma      Sanjoli Jain       Disti Jain
4          Mohit Saini       Chahat Jain
5       Piyush Vaishya     Diksha Bothra
6   Prem Singh Rathore    Kuldeep Tailor
7       Sakshi Agarwal      Sahil Chopra   Rishina Dargar
8     Shruti Ganeriwal  Mahima Sukhlecha      Megha Gupta
9       Sudhanshu Jain   Shivansh Mathur
10         Suraj Kumar   Abhishek Sharma  Alfaiz Mansoori